<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Book-register</title>

    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}"  rel="stylesheet">


    <link  href="{{url_for('static', filename='css/font-awesome.min.css')}}"  rel="stylesheet" type="text/css">

</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="{{url_for('home')}}">Home</a>
                    </li>
                    <li role="presentation"><a href="{{url_for('login')}}">Sign In</a>
                    </li>
                    <li role="presentation"><a href="{{url_for('register')}}">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
            
               
                    <h3>Book Title: {{ book_title}} </h3>
                    <form  action="{{url_for('submit_review')}}" method="POST">
                        <input type="hidden" name = "id" class="form-control" value="{{book_id}}" />
                        <input type="hidden" name = "title" class="form-control" value="{{book_title}}"> 
            
                 
                           <input type="hidden" name = "username" class="form-control" value="{{username}}"/> 
                   
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="review" rows="10" placeholder="Writer your review here in not less than 200 words"></textarea>
                        <button name="submit_review" type="submit" class="btn btn-primary"></span> Submit Review</button>
                    </form> 
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2020</p>
        </footer>
 
    </div>
</body>
 
</html>
